.style {
    overflow-y: scroll;
    height: 650px;
    
}

.card-img{
    height:40em;
}

.card{
    margin-top:15em;
    
}

.pop{
    width:20em;
    height:20em;
}

.App{
    background-image: url('./img/i.jpg');
    padding-bottom:50em;
}
.nav{
    height: 3em;
}

p {
    color: white;
}



